.main {
  height: 640px;
  border-top: 1px solid black;
  overflow-y: scroll;
}

.cards-block {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.cards {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin: 50px;
  text-align: center;
}

